body {
  font-family: 'Roboto', sans-serif;
}
#head {
  text-align: center;
  background: #1abc9c;
  padding: 50px;
  color: white;
  font-family: Arial;
}
.navbar {
  background: #333;
  display: flex;
  font-family: cursive;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.layout {
  display: flex;
  
}
.main {
  background-color: beige;
  height: 500px;
  flex-grow: 4;
}
.aside {
  display: block;
  background-color: red;
  height: 500px;
  flex-grow: 1;
  padding: 15px;
}
.aside a {
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
.aside a:hover {
  background: #ddd;
  color: black;
}
.ablink, {
  border-radius: 20px;
  border: solid grey 1px;
  font-family: cursive;
  color: antiquewhite;
  background-color: #333;
  height: 35px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.ablink:hover {
  background-color: rgb(182, 34, 34);
}
.abouthead {
  font-family: cursive;
  background-color: royalblue;
  width: 500px;
  text-align: center;
}